<%= form_with(model: house, local: true) do |form| %>
  <% if house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
      <% house.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :owner %>
    <%= form.text_field :owner, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :rooms %>
    <%= form.number_field :rooms, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :sqmt %>
    <%= form.number_field :sqmt, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :floors %>
    <%= form.number_field :floors, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :air_cond %>
    <%= form.check_box :air_cond%>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, class: "form-control" %>
  </div>

  <div>
    <%= form.label :photo %>
    <%= form.file_field :photo, class: "form-control"%>
    <%= form.hidden_field :photo_cache %>

    <% if @house.photo.present? %>
      <%= image_tag @house.photo.thumb.url, class: "mt-4" %>
    <%end%>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-lg btn-success" %>
  </div>
<% end %>
