<%= form_with(model: complex_building, local: true) do |form| %>
  <% if complex_building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(complex_building.errors.count, "error") %> prohibited this complex_building from being saved:</h2>

      <ul>
      <% complex_building.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :owner %>
    <%= form.text_field :owner, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :units %>
    <%= form.number_field :units, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :sqmt %>
    <%= form.number_field :sqmt, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, class: "form-control" %>
  </div>

  <div>
    <%= form.label :photo %>
    <%= form.file_field :photo, class: "form-control"%>
    <%= form.hidden_field :photo_cache %>

    <% if @complex_building.photo.present? %>
      <%= image_tag @complex_building.photo.thumb.url, class: "mt-4" %>
    <%end%>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-lg btn-success" %>
  </div>
<% end %>
